html {
    scroll-behavior: smooth;
}

body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {font-size: 16px;}

.bg-1 {
    background-color: #ffb956; /* Peach? */
    color: #212121;
  }
  
  .bg-2 {
    background-color: #333333; /* Dark gray */
    color: #ffffff;
  }
  
  .bg-3 {
    background-color: #89ff5e; /* Green */
    color: #000000;
  }
  
  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }
  
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  /*clean image*/
  .img0 {
    max-width: 350px;
    max-height: 550px;
    margin-top: 50px;
    border-radius: 20px;
  }
  
  /*blured image*/
  .img1 {
    max-width: 350px;
    max-height: 350px;
    margin-top: 50px;
    border-radius: 20px;
    filter: grayscale(100%) blur(6px);
  }
  
  /*animated image*/
  .img2 {
    max-width: 350px;
    max-height: 350px;
    margin-top: 60px;
    margin-bottom: 70px;
    border-radius: 20px;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move {
    0%   {left:25px; top:0px;}
    25%  {left:50px; top:25px;}
    50%  {left:25px; top:50px;}
    75%  {left:0px; top:25px;}
    100% {left:25px; top:0px;}
  }
  
  .row {
    text-align: center;
    margin-top: 25px;
  }
  
  .PopUp{}
  
  .PopUp .popuptext {
    visibility: hidden;
    width: 240px;
    top: 100%;
    left: 50%;
    margin-left: -120px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    /* Position */
    position: absolute;
    z-index: 1; 
  }
  
  /*arrow on popup*/
  .PopUp .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .PopUp:hover .popuptext {
    visibility: visible;
  }
  
  /*navbar*/
  .navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar li {
    font-size:18px;
  }
  .navbar-nav li a:hover {
    color: #ffb956 !important;
    font-size:larger;
  }
  
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 40px;
}

/*buttons*/
.myButton {
  background-color: #89ff5e;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 32px;
  text-align: center;
  font-size: 16px;
  color: black;
  margin: 4px 10px;
  cursor: pointer;
  display: inline;
}

.myButton:hover {
  background-color: #ffb956;
  color: white;
}

.disButton {
  background-color: lightgray;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 32px;
  text-align: center;
  font-size: 16px;
  color: white;
  margin: 4px 10px;
  display: inline;
}

.clearButton {
  background-color: #ffb956;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 32px;
  text-align: center;
  font-size: 16px;
  color: white;
  margin: 4px 10px;
  cursor: pointer;
  display: inline;
}

.clearButton:hover {
  background-color: rgb(255,0,0);
  color: black;
}

.Ui{
    margin-left: 25px
}

/*imput*/
.inputLabel {
  color: #89ff5e;
  margin-left: 25px;
  margin-right: 10px;
  font-size: x-large;
  display: inline;
}

.input {
  border-radius: 6px;
  border-style: solid 1px;
  border-color: #ffb956;
  outline: none;
  color: #ffb956;
  font-weight: 600;
  width: 100px;
  display: inline;
}

.info  p {
  color: #ffb956;
  /*margin-left: 15px;*/
  margin-right: 10px;
  font-size: 15px;
  display: inline;
}

/*field*/
.field {
  /*margin-left: 50px;*/
  bisplay: block;
  margin: auto;
  display: grid;
}

/*error*/
.error {
  margin-top: 25px;
  color: red;
  margin-left: 25px;
  font-size: x-large;
}

.result {
  margin-top: 20px;
  color: #ffb956;
  margin-left: 25px;
  margin-right: 25px;
  font-size: xx-large;
}

.timer {
  margin-top: 20px;
  color: black;
  font-size: 70px;
}

.col {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}